<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
	<div class="bootstrap-iso">
		<div class="container-fluid">
		  <div class="row">
		   <div class="col-md-6 col-sm-6 col-xs-12">
		   		<h3>Contact Us</h3>
        		<hr>
		   </div>
	   	  </div>
		  <div class="row">
		   <div class="col-md-6 col-sm-6 col-xs-12">
		    	<p class="success">Thank you for your message</p>
		   </div>
		  </div>
	 </div>
	</div>
  </body>
</html>

